body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 2%;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
header{
    background-color: black;
    width: 100%;
    height: 103px;
}
main{
    width: 100%;
    height: 100%;
}
.hero{
    background-color: brown;
    width: 100%;
    height: 908px;
}
.services-section{
    background-color: darkcyan;
    width: 100%;
    height: 588px;
}
.gallery-section{
    background-color: brown;
    margin-top: 2%;
    width: 100%;
    height: 479px;
}
.events-section{
    background-color: darkcyan;
    width: 100%;
    height: 804px;
}
.form-section{
    background-color: brown;
    margin-top: 2%;
    width: 100%;
    height: 479px;
}
footer{
    background-color: black;
    margin-top: 2%;
    width: 100%;
    height: 284px;
}