@import 'layout/layout.css';

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    padding: 20px;
    border-radius: 10px;
}

.header-logo {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.header-info {
    display: flex;
    align-items: center;
}


header nav {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

header nav li {
    margin-right: 30px;
}

header nav a {
    text-decoration: none;
}

header h1 {
    color: #141E32;
    text-align: center;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

header li {
    color: #101928;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Hero */
.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    background-color: #F5ECD8;
    padding: 90px 80px 200px;
    border-radius: 10px;
}

.hero-iner {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.hero-title {
    margin-top: 0;
    display: grid;
    align-self: flex-end;
}

.img-img-hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-hero {
    border-radius: 80px;
    width: 485px;
    height: 406px;
    position: relative;
}

.hero-iner h3 {
    color: #969696;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero-iner h1 {
    color: #141E32;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0%;
    padding: 0%;

    width: 558px;
    height: 288px;
}

.hero-iner p {
    color: #969696;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services-section {
    height: 588px;
}

.services-cards {
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.services-iner {
    padding-left: 2%;
}

.services-subtitle {
    color: #C5AF87;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services-title {
    color: #141E32;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services-paragraph {
    color: #969696;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.item-card-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 20px;
    border-radius: 10px;
    background: #C5AF87;
    transition: background-color 0.5s ease;
    padding: 2%;
}

.item-card-service:hover {
    background: #F5ECD8;
}

.item-card-service img {
    width: 100px;
    height: 15%;
}

.item-card-service h3 {
    color: #141E32;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

.item-card-service p {
    color: #141E32;
    text-align: center;
    font-family: Poppins;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gallery-title {
    display: flex;
    justify-content: center;
    color: #141E32;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 5%;
}

.gallery-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    gap: 20px;
}

.item-card-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: auto;
}

.item-card-gallery img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.item-card-gallery:hover {
    transform: scale(1.3);
    transition: transform 0.5s ease;
}

.events-section{

    background-color: #f0eeee;
    width: 500%;
    padding: 2%;
}

.item-card-event img{

    width: 130%;
    height: 85%;
    border-radius: 5%;
}

  .item-card-event h3{

    background-color: #ffffff;
    width: 128%;
    height: 18%;
    border-radius: 5%
  } 

.events-cards{

    width: 8%;
    height: 5%;
    margin-left: -1%;
    text-align: center;
    padding-right: 10%;
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 15px;
    gap: 15%
    
}

.events-iner{

   margin-top: 3%;
   padding-left: 0%;
}

.events-subtitle{

    color: #C5AF87;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.events-title{

    color: #141E32;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.events-paragraph{

    color: #969696;
    font-family: Poppins;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-section{

    background-color: #F5ECD8;
    padding: 6%;
    height: 10%;
}
.card-form{

    display: grid;
    row-gap: 40%;
    font-size: 110%;
}
.name{

    width: 40%;
    height: 100%;
}
.phone{

    width: 40%;
    height: 100%;
}
.email{

    width: 41%;
    height: 100%;
}

footer {
    background-color: #393E46;
    padding: 50px 90px;
    color: #FFF;
    height: 20rem;
    

    width: 100%;
    display: grid;
    grid-template-columns: 2fr 4fr 2fr 2fr;
    grid-gap: 5%;
  }

footer h1 {
  
  }

footer p {
    font-size: 12px;
    font-family: Poppins;
    font-weight: normal
  }
.footer-iner a {
    margin-top: 20px;
    display: inline-block;
    display: grid;
    grid-template-columns: repeat(4, 30px);
}

.footer-paragraph {
    margin-top: 30px;

    display: grid;
    grid-row: 2/3;
    grid-column: 1/2;
}

.social-media {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 40px);
}

.img-footer {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--light, #F4F4F4);
}
.footer-iner{
    display: grid;
    grid-column: 2/3;
}

.contact-container{
    margin-right: 10rem;
}

.home-container{
    margin-left: 200px;
}

.home-home{
    margin-bottom: 53px;
}

.contact-contact {
    margin-bottom: 53px;
}

.contact-container {
    
}

.home-container{
   
}